<h3>Dynamic Animations Demo</h3>
<div class="content">
	<div>
		<h4>New Directive</h4>
		<button (click)="toggleNewState()">Toggle</button>
		<button (click)="newShow = !newShow">Hide</button>
		<div *ngIf="newShow"
		    dvk-da
			class="dad-panel" 
			[state]="newState"
			[transitions]="newTrans">

		</div>
	</div>


	<div>
		<h4>Animated Directive</h4>
		<button (click)="toggleDirective()">Toggle</button>
		<div aternating-panel
			class="dad-panel"
			[transitions]="transitions" 
			[state]="directiveState"
			[cssMap]="cssMap"
			>
		</div>
	</div>
	<div>
		<h4>Animated Component</h4>
		<button (click)="toggleComponent()">Toggle</button>
		<div alt-panel
			class="dad-panel"
			[transitions]="transitions" 
			[state]="componentState"
			[cssMap]="cssMap"
			>
		</div>
	</div>

</div>